.fiche-technique-vhic {
    color: #0b3037;
    width: 100%;
    height: 100%;
    background: radial-gradient(50% 50%, #78bfa700 0%, #78bfa7 100%);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 23px 73px 21px 21px;
    font-family: Graphie, Arial;
    font-size: 1rem;
    font-weight: 300;
    line-height: 14px;
    display: flex;
  }
  
  .rectangle-70 {
    height: 85%;
    background: radial-gradient(50% 50%, #e8e8e8 0%, #fff 100%);
    border-radius: 30px;
    flex-direction: row;
    flex-basis: 87%;
    justify-content: flex-end;
    align-items: center;
    margin: 3px -1221px 4px 91px;
    padding-top: 3px;
    padding-bottom: 2px;
    display: flex;
  }
  
  .flex-container {
    color: #525252;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 15px;
    font-weight: 400;
    line-height: 19px;
    display: flex;
  }
  
  .flex-container-1 {
    color: #0b3037;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
    margin-left: 1px;
    font-family: ABeeZee, Arial;
    font-size: 1.25rem;
    line-height: 24px;
    display: flex;
  }
  
  .dashboard {
    font-style: italic;
  }
  
  .num-9-janvier-2023 {
    font-size: .938rem;
    font-style: italic;
    line-height: 18px;
  }
  
  .group-102 {
    width: 100%;
    flex-direction: row;
    flex-basis: 89%;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 4px;
    display: flex;
  }
  
  .rectangle-78 {
    height: 100%;
    background: linear-gradient(#fff 0% 100%);
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 12px;
    padding-bottom: 4px;
    display: flex;
  }
  
  .flex-container-2 {
    color: #0b3037;
    width: 35%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 9px;
    margin-left: 41px;
    font-family: Inter, Arial;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 24px;
    display: flex;
  }
  
  .vector-8 {
    width: 12px;
    height: 20px;
    object-fit: cover;
  }
  
  .flex-container-3 {
    width: 85%;
    flex-direction: row;
    flex-basis: 28%;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-left: 41px;
    display: flex;
  }
  
  .image-5 {
    width: 284px;
    height: 174px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .capture-decran-2023 {
    width: 368px;
    height: 181px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    align-self: flex-end;
  }
  
  .flex-container-4 {
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 9px;
    margin-left: 133px;
    display: flex;
  }
  
  .image-6 {
    width: 29px;
    height: 16px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .capture-decran-2022, .capture-decran-2022-1 {
    width: 30px;
    height: 16px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  
  .group-114 {
    width: 855px;
    height: 70px;
    object-fit: cover;
    margin-top: 1px;
    margin-bottom: 7px;
  }
  
  .flex-container-5 {
    color: #000;
    width: 45%;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-left: 42px;
    font-weight: 600;
    display: flex;
  }
  
  .ellipse-78 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .flex-container-6 {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 1px;
    display: flex;
  }
  
  .la-voiture-a-t-livr {
    color: #525252;
    font-size: .875rem;
    font-weight: 350;
    line-height: 17px;
  }
  
  .flex-container-7 {
    color: #000;
    width: 70%;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1px;
    margin-left: 42px;
    display: flex;
  }
  
  .ellipse-77 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .flex-container-8 {
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 1px;
    display: flex;
  }
  
  .le-vhicule-viens-dtr {
    color: #525252;
    font-size: .875rem;
    font-weight: 350;
    line-height: 17px;
  }
  
  .flex-container-9 {
    width: 95%;
    flex-direction: row;
    flex-basis: 7%;
    justify-content: space-between;
    align-self: center;
    align-items: stretch;
    margin-bottom: 2px;
    margin-left: 21px;
    font-size: .875rem;
    display: flex;
  }
  
  .ellipse-73 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .flex-container-10 {
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 2px;
    margin-bottom: -1px;
    display: flex;
  }
  
  .centre-de-reconditio {
    color: #000;
    font-size: 1rem;
  }
  
  .le-vhicule-a-t-dpose {
    font-weight: 350;
    line-height: 17px;
  }
  
  .flex-container-11 {
    width: 35%;
    flex-direction: row;
    flex-basis: 4%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 2px;
    margin-left: 42px;
    display: flex;
  }
  
  .ellipse-74 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .flex-container-12 {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 2px;
    margin-bottom: -1px;
    display: flex;
  }
  
  .reconditionnement {
    color: #000;
  }
  
  .le-vhicule-est-prt-a {
    font-size: .875rem;
    font-weight: 350;
    line-height: 17px;
  }
  
  .flex-container-13 {
    width: 75%;
    flex-direction: row;
    flex-basis: 5%;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-left: 42px;
    font-size: .875rem;
    display: flex;
  }
  
  .ellipse-76 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .flex-container-14 {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 1px;
    display: flex;
  }
  
  .problme-moteur {
    color: #ff0000d4;
    font-size: 1rem;
  }
  
  .le-vhicule-possde-un {
    font-weight: 350;
    line-height: 17px;
  }
  
  .flex-container-15 {
    width: 40%;
    flex-direction: row;
    flex-basis: 6%;
    justify-content: space-between;
    align-items: center;
    margin-left: 54px;
    font-size: .875rem;
    font-weight: 300;
    line-height: 17px;
    display: flex;
  }
  
  .ellipse-75 {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-bottom: 2px;
  }
  
  .flex-container-16 {
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    display: flex;
  }
  
  .flex-container-17 {
    color: #000;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    margin-left: 42px;
    display: flex;
  }
  
  .ellipse-79 {
    width: 25px;
    height: 25px;
    object-fit: cover;
  }
  
  .le-vehicule-est-pret {
    margin-top: 2px;
  }
  
  .le-vehicule-est-vend {
    color: #000;
    margin-left: 98px;
  }
  
  .rectangle-72 {
    height: 100%;
    background-color: #fff;
    border-radius: 0 30px 30px 0;
    flex-direction: column;
    flex-basis: 24%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 47px;
    padding: 27px 31px 80px 28px;
    font-size: .75rem;
    display: flex;
  }
  
  .flex-container-18 {
    width: 25%;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    align-items: stretch;
    margin-top: 5px;
    margin-bottom: 2px;
    display: flex;
  }
  
  .vector {
    width: 18px;
    height: 21px;
    object-fit: cover;
  }
  
  .group-69 {
    width: 19px;
    height: 20px;
    object-fit: cover;
  }
  
  .rectangle-73 {
    width: 75px;
    height: 75px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 1px;
  }
  
  .la-delagrange {
    margin-bottom: 18px;
    margin-left: 1px;
    font-weight: 400;
  }
  
  .mes-voitures-priorit {
    align-self: flex-start;
    margin-bottom: 7px;
    margin-left: 1px;
    font-family: ABeeZee, Arial;
    font-size: .938rem;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
  }
  
  .flex-container-19 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .vector-3 {
    width: 15px;
    height: 14px;
    object-fit: cover;
  }
  
  .dacia-sandero-9305 {
    font-weight: 400;
  }
  
  .step-47 {
    margin-top: 1px;
    margin-left: 11px;
  }
  
  .rectangle-74 {
    width: 235px;
    height: 8px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .current-step-trc {
    font-size: .688rem;
    line-height: 13px;
  }
  
  .flex-container-20 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    display: flex;
  }
  
  .vector-4 {
    width: 15px;
    height: 14px;
    object-fit: cover;
  }
  
  .toyota-yaris-67846 {
    margin-top: 1px;
  }
  
  .step-67 {
    margin-top: 1px;
    margin-left: 19px;
    font-weight: 300;
  }
  
  .rectangle-74-1 {
    width: 235px;
    height: 8px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .current-step-shippi {
    margin-bottom: 4px;
    margin-left: 1px;
    font-size: .688rem;
    line-height: 13px;
  }
  
  .flex-container-21 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .vector-5 {
    width: 15px;
    height: 14px;
    object-fit: cover;
  }
  
  .renault-clio-2-432 {
    font-weight: 400;
  }
  
  .step-27 {
    margin-top: 1px;
    margin-left: 13px;
  }
  
  .rectangle-74-2 {
    width: 235px;
    height: 8px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .current-step-reserv {
    margin-left: 2px;
    font-size: .688rem;
    line-height: 13px;
  }
  
  .flex-container-22 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .vector-6 {
    width: 15px;
    height: 14px;
    object-fit: cover;
  }
  
  .flex-container-23 {
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    font-weight: 400;
    display: flex;
  }
  
  .cat-absolute-container {
    z-index: 1;
    width: 100%;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: -9px;
    display: flex;
  }
  
  .flex-container-24 {
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1px;
    margin-left: 29px;
    display: flex;
  }
  
  .cat-absolute-container-1 {
    z-index: 1;
    width: 100%;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: -9px;
    display: flex;
  }
  
  .rectangle-74-3 {
    width: 235px;
    height: 8px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .flex-container-25 {
    width: 30%;
    flex-direction: column;
    flex-basis: 1%;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 3px;
    font-size: .688rem;
    line-height: 13px;
    display: flex;
  }
  
  .current-step-trc-1 {
    margin-bottom: -10px;
  }
  
  .cat-absolute-container-2 {
    z-index: 1;
    width: 100%;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
  
  .flex-container-26 {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .vector-7 {
    width: 15px;
    height: 14px;
    object-fit: cover;
  }
  
  .dacia-sandero-6785 {
    font-weight: 400;
  }
  
  .step-57 {
    margin-top: 1px;
    margin-left: 11px;
  }
  
  .rectangle-74-4 {
    width: 235px;
    height: 8px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .current-step-trc-2 {
    margin-bottom: 112px;
    font-size: .688rem;
    line-height: 13px;
  }
  
  .rectangle-71 {
    width: 296px;
    height: 823px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 1px;
    margin-left: -1109px;
  }